@import "_setting.scss";
// DEFAULT is darker
.darker {
  --btn-background-color: rgba(0, 0, 0, 0.05);
  --btn-color: $app-main-text-color;
  // hover
  --btn-hover-bg-color: rgba(0, 0, 0, 0.08);

  // active
  --btn-active-bg-color: rgba(0, 0, 0, 0.15);
  --btn-active-color: $app-main-text-color;
}

.brighter {
  --btn-background-color: rgba(255, 255, 255, 0.2);
  --btn-color: $app-main-text-color;
  // hover
  --btn-hover-bg-color: rgba(255, 255, 255, 0.3);

  // active
  --btn-active-bg-color: rgba(255, 255, 255, 0.4);
  --btn-active-color: $app-main-text-color;
}

.transparent-darker {
  --btn-background-color: transparent;
  --btn-color: $app-main-text-color;
  // hover
  --btn-hover-bg-color: rgba(0, 0, 0, 0.08);

  // active
  --btn-active-bg-color: rgba(0, 0, 0, 0.15);
  --btn-active-color: $app-main-text-color;
}

.transparent-brighter {
  --btn-background-color: transparent;
  --btn-color: $app-main-text-color;
  // hover
  --btn-hover-bg-color: rgba(255, 255, 255, 0.3);

  // active
  --btn-active-bg-color: rgba(255, 255, 255, 0.4);
  --btn-active-color: $app-main-text-color;
}

.primary {
  --btn-background-color: #{$board-bg-color};
  --btn-color: white;
  // hover
  --btn-hover-bg-color: #00639b;

  // active
  --btn-active-bg-color: #00629ba1;
  --btn-active-color: white;
}

.trello-btn {
  outline: none;
  border: none;
  font-size: 14px;
  text-decoration: none;
  line-height: 1;
  height: inherit;
  padding: 0.5rem 0.75rem;
  border-radius: 0.2rem;
  // transition: all 0.1s linear;
  white-space: nowrap;
  background-color: var(--btn-background-color);
  color: var(--btn-color);
  &:hover {
    background-color: var(--btn-hover-bg-color);
  }

  &:active,
  &:focus {
    background-color: var(--btn-active-bg-color);
    color: var(--btn-active-color);
  }
}

a.trello-btn {
  display: inline-block;
}
