@import "_setting.scss";

.log {
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
  .log-description {
    flex: 1;
    padding: 0.5rem 0;
    .log-description__activity {
      font-size: 0.875rem;
      color: $text-sub-title-color;
      span {
        font-weight: 700;
        color: $app-main-text-color;
      }
    }
    .log-description__time {
      display: block;
      font-weight: 400;
      color: $text-sub-title-color;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .log-description__attachment-img-preview {
      margin: 0.5rem 0 0.25rem;
      max-width: 100%;
      max-height: 500px;
      border-radius: 3px;
      &:hover {
        cursor: pointer;
      }
    }

    .log-description__reply {
      height: 1.25rem;
      a {
        color: $app-main-text-color;
      }
    }
  }
}
