@import "_setting.scss";

.trello-dropdown-item {
  width: 100%;
  padding: 0.5rem 0.75rem;

  &.trello-dropdown-item--disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  &:hover {
    background-color: rgba(9, 30, 66, 0.04);
  }

  &:active {
    background-color: #e4f0f6;
  }

  .trello-dropdown-item__header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: $app-main-text-color;

    .trello-dropdown-item__title {
      font-size: 14px;
      font-weight: 500;
    }
  }

  p.trello-dropdown-item__content {
    margin: 4px 0 0 0;
    padding: 0;
    font-size: 13px;
    white-space: break-spaces;
    text-align: start;
    color: $text-sub-title-color;
  }
}
