@import "_setting.scss";

$app-bar-bg-color: #0067a3;
$app-bar-max-height: 2rem;

%app-bar-bg-color-brighter {
  background-color: rgba(255, 255, 255, 0.3);
}

.app-bar {
  padding: 6px 10px;
  background-color: $app-bar-bg-color;
  .app-bar-container {
    height: $app-bar-max-height;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
    .app-bar-container--left {
      display: flex;
      justify-content: flex-start;
      flex-flow: wrap;
      gap: 0.3rem;
      height: inherit;

      .icon-end {
        margin-left: 6px;
      }
    }

    .app-bar-container--right {
      display: flex;
      justify-content: flex-end;
      flex-flow: wrap;
      gap: 0.3rem;
      height: inherit;

      .form-control::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #ffffff;
        opacity: 1; /* Firefox */
      }

      .form-control:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #ffffff;
      }

      .form-control::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #ffffff;
      }

      .search-text-input-group {
        max-width: 100%;
        width: 200px;
        max-height: $app-bar-max-height;
        margin-right: 2px;
        .search-text-icon {
          height: $app-bar-max-height;
          width: 30px;
          padding: 0px 7px;
          border-radius: 0.375rem;
          @extend %app-bar-bg-color-brighter;
        }

        .search-text-input {
          padding: 0px 20px 0px 0px;
          border: none;
          color: white;
          @extend %app-bar-bg-color-brighter;
        }
      }

      .trello-btn {
        padding: 0 0.375rem;
      }

      .user-avatar {
        width: $app-bar-max-height;
        height: $app-bar-max-height;
        border-radius: 25rem;
        margin-left: 4px;
        cursor: pointer;
      }
    }

    .app-bar-btn-item {
      font-weight: 400;
      color: white;

      &:first-child {
        margin-left: 0px;
      }
      &:last-child {
        margin-right: 0px;
      }

      .trello-icon {
        position: relative;
        width: 75px;
        height: 15px;
        padding: 8px 0;
        margin: 0;
        opacity: 1;
        &::before {
          content: "";
          background-image: url("https://a.trellocdn.com/prgb/dist/images/header-logo-spirit.d947df93bc055849898e.gif");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          display: block;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
        }

        &:hover {
          &::before {
            background-image: url("https://a.trellocdn.com/prgb/dist/images/header-logo-spirit-loading.87e1af770a49ce8e84e3.gif");
          }
        }
      }
    }

    .active {
      @extend %app-bar-bg-color-brighter;
    }
  }
}
