@import "_setting.scss";

.card-description-input textarea {
  background-color: rgba(0, 0, 0, 0.03) !important;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
  }
}

// .card-description-input:focus-within + .card-description-manipulation {
//   // display: grid;
// }

.card-description-manipulation {
  display: flex;
  margin-top: 0.6rem;
  justify-content: space-between;
  align-items: center;
  transition: all 2s linear;

  .card-description-manipulation__button--cancel {
    margin-left: 0.3rem;
  }
}
