@import "_setting.scss";

.card-description-input {
  background-color: rgba(0, 0, 0, 0.03);
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

// .card-description-input:focus-within + .card-description-manipulation {
//   // display: grid;
// }

.card-description-manipulation {
  // display: none;
  display: grid;

  margin-top: 0.6rem;

  // display: grid
  grid-template-columns: 3fr 1fr;

  transition: all 2s linear;

  .card-description-manipulation__button--cancel {
    margin-left: 0.3rem;
  }
}
