@import "_setting.scss";

textarea.card-header-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  color: $title-color;
}

.card-header-content {
  p {
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: $text-sub-title-color;
    a {
      color: $text-sub-title-color;
      cursor: pointer !important;
    }
  }
  span {
    margin-left: 0.625rem;
  }
}
