@import "_setting.scss";

.trello-dropdown {
  z-index: 1;
  position: relative;
  height: inherit;

  .trello-dropdown-container {
    // visible style
    position: absolute;
    left: 0%;
    top: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity, transform 0.2s linear;

    max-width: 17.1875rem;

    // block style
    background-color: #ffffff;
    // padding: 0 0.75rem;
    min-width: 18.75rem;
    z-index: 999;
    border-radius: 3px;
    box-shadow: 0 0px 1rem rgba(0, 0, 0, 0.1);

    ::-webkit-scrollbar {
      width: 0.5rem;
    }

    ::-webkit-scrollbar-track {
      background: rgba(9, 30, 66, 0.08);
      border-radius: 0.5rem;
    }

    ::-webkit-scrollbar-thumb {
      background: rgba(9, 30, 66, 0.1);
      border-radius: 0.5rem;
    }

    .trello-dropdown-container__header {
      display: grid;
      grid-template-columns: 1.25rem 1fr 1.25rem;
      align-items: center;

      padding: 0 0.75rem;
      height: 41px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      color: $text-sub-title-color;

      h2 {
        line-height: 1.25rem;
        font-size: 1rem;
        text-align: center;
        margin: 0;
      }
      button {
        padding: 0;
        margin: 0;
        width: fit-content;
        height: fit-content;
        &:hover {
          color: rgba(0, 0, 0, 1);
        }
        svg {
          margin: 0 !important;
        }
      }
    }

    .trello-dropdown-container__content {
      margin-top: 0.5rem;
      // padding: 0 0.75rem 0.75rem 0.75rem;
      // max-height: 18.125rem;
      max-height: 85vh;
      overflow-y: auto;

      div:last-child {
        border: none;
      }
    }
  }

  // &:focus,
  &:focus-within > .trello-dropdown-container,
  .trello-dropdown-container--active {
    opacity: 1;
    transform: translateY(6px);
    pointer-events: auto;
  }
}
