@import "_setting.scss";

.modal-card-detail {
  max-width: 768px !important;
  width: auto !important;
  margin-top: 48px !important;

  .modal-card-detail__banner {
    min-height: 160px;
    height: 160px;
  }
}
