@import "_setting.scss";
$background-color: rgba(0, 0, 0, 0.03);
$hover-color: rgba(0, 0, 0, 0.09);

.filter-container {
  padding: 0 12px 12px 12px;
  width: 384px;

  .filter-group {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: $text-sub-title-color;

    .filter-group__label {
      font-size: 0.8rem;
      font-weight: bold;
    }

    .filter-text {
      input {
        margin-top: 0.5rem;
        display: block;
        width: 100%;
        height: 2rem;
        outline: #0079bf;
        border: 2px solid $hover-color;
        border-radius: 3px;
        padding: 0.5rem 0.75rem;
        font-size: 0.9rem;
        background-color: $background-color;
        transition: all 0.1s linear;

        &:hover {
          cursor: text;
          background-color: $hover-color;
        }

        &:focus {
          background-color: #ffff;
          border: 2px solid #0079bf !important;
        }
      }

      span {
        display: block;
        margin-top: 0.25rem;
        font-size: 0.8rem;
      }
    }

    .filter-item {
      display: flex;
      box-sizing: content-box;
      padding: 0.5rem 0 0.5rem 0.5rem;

      &.label {
        height: auto;
        padding: 0 0 0.5rem 0.5rem;
      }

      &:hover {
        cursor: pointer;

        .trello-checkbox label,
        .trello-checkbox label::before {
          background-color: $background-color;
        }
        .trello-checkbox input:checked + label,
        .trello-checkbox input:checked + label::before {
          background-color: $input-border-color;
        }
      }

      .filter-item-content {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        margin-left: 1rem;

        .filter-item-content__icon {
          position: relative;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          background-color: $hover-color;

          svg {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          img {
            width: 1.5rem;
            height: 1.5rem;
          }
        }

        span.filter-item-content__text {
          flex-grow: 1;
          font-size: 14px;
        }
      }
    }
  }
}
