@import "_setting.scss";

.add-new-button {
  .add-new-button--button {
    padding: 7px 12px;
  }
  span {
    margin: $gap;
    svg {
      height: 28px;
      width: 28px;
      &:hover {
        cursor: pointer;
        color: darken($color: $app-main-text-color, $amount: 20) !important;
      }
    }
  }
}
