@import "_setting.scss";

$add-new-column-width-container: 250px;

.add-new-column-container {
  width: $add-new-column-width-container !important;
  max-width: $add-new-column-width-container !important;
  padding: 0 !important;
  margin: 0 !important;
  margin-left: 12px !important;
  border-radius: $column-border-radius;

  .trello-bootstrap-row {
    .toggle-button {
      cursor: pointer;
      color: white;
      background-color: hsla(0, 0%, 100%, 0.25) !important;
      font-size: 15px;
      border-radius: $column-border-radius;
      &:hover {
        background-color: hsla(0, 0%, 100%, 0.35) !important;
      }
      i {
        font-size: 14px !important;
        color: white !important;
      }
    }

    .input-text {
      padding: 12px;
    }
  }
}
