@import "_setting.scss";

body {
  margin: 0;
  font-family: "Source sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.trello-app-master {
  height: 100vh;
  // display: grid;
  // grid-template-rows: 40px 50px 1fr;
  line-height: 1.3em;
  background-color: $board-bg-color;

  .icon {
    font-size: 14px;
    margin-right: 5px;
    color: $app-main-text-color;
  }

  .trello-bootstrap-container {
    margin: 0 15px;
    padding: 0;
  }

  .default-bg-color {
    background-color: $column-bg-color;
  }

  .btn:focus,
  .btn:active,
  textarea:focus,
  textarea.form-control:focus,
  input.form-control:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  [type="text"].form-control:focus,
  [type="password"].form-control:focus,
  [type="email"].form-control:focus,
  [type="tel"].form-control:focus,
  [contenteditable].form-control:focus {
    box-shadow: none;
  }
}
