@import "_setting.scss";

body {
  margin: 0;
  font-family: "Source sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.trello-app-master {
  height: 100vh;
  // display: grid;
  // grid-template-rows: 40px 50px 1fr;
  line-height: 1.3em;
  background-color: $board-bg-color;

  .icon {
    font-size: 14px;
    margin-right: 5px;
    color: $app-main-text-color;
  }

  .trello-bootstrap-container {
    margin: 0 $gap;
    padding: 0;
  }

  .trello-bootstrap-row {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 32px;
    align-items: center;
  }

  .default-bg-color {
    background-color: $column-bg-color;
  }

  .row {
    padding: 0px !important;
    margin: 0px !important;
    > * {
      padding: 0px;
    }
  }

  .btn:focus,
  .btn:active,
  textarea:focus,
  textarea.form-control:focus,
  input.form-control:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  [type="text"].form-control:focus,
  [type="password"].form-control:focus,
  [type="email"].form-control:focus,
  [type="tel"].form-control:focus,
  [contenteditable].form-control:focus {
    box-shadow: none !important;
    border: 1px solid $input-border-color;
  }
  .btn:focus,
  .btn:active {
    outline: none;
  }

  .trello-app-editable {
    background-color: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    border: none;

    &:focus {
      background-color: white;
    }
  }
}
